h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.row{
  margin-bottom: 1em;
}

.country-select-wrapper {
  top: -1px;
  padding: 5px;
  background-color: #dbe6ff;
}

canvas {
 height: 400px !important;
}

.mobile-banner .card-body {
  background-color: #ffffdc;
}

.select-country-title {
  font-size: 1.3em;
  font-weight: bold;
}

#clear-all-countries:hover {
  text-decoration: none !important;
}

#chart-type-select-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eee;
  padding: 0.5em;
}

#chart-type-select-text {
  margin-left: 1em;
  font-size: 0.8em;
}

@media only screen and (max-width: 850px) {
  canvas {
    height: 250px !important;
   }
}

@media (orientation:landscape) {
  .mobile-banner {
      display: none;
  }
}